<style type="text/css">
	  body, * {font-size: 13px; font-family: "Helvetica Neue",Helvetica,Arial,FreeSans,sans-serif;}
	  fieldset {float: left;}
	  </style>
<div class="container">
	<div class="row">

		 <form id="form2" method="post">
				  <fieldset>
				     <legend>Chat Login</legend>
				     <label for="username2">Username:</label><input type="text" id="username2" name="username2" /><br />
				     <label for="password2">Password:</label><input type="password" id="password2" name="password2" /><br />
				     <input type="submit" value="Log in chat" /> 
				     <button id="logout2" style="display:none;">Log out</button>
				  </fieldset>
			  </form>


	</div>
</div>
<script src="chat/js/example.js"></script>
