    <div class="row">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                   
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">C&oacute;mo funciona</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="img/diagrama-3.png" alt="">
            </div>
            <div class="col-md-6">
                
                <p>AjustadoaTi Es una plataforma para búsqueda de productos y servicios en tiempo real usando la ubicación geográfica y mensajería instantánea para la comunicaci&oacute;n entre las partes. La persona o Pyme que presta el servicio debe registrarse y seleccionar las categor&iacute;as en las que desea ofrecer sus servicios, para ello se toma la ubicaci&oacute;n geogr&aacute;fica y los datos b&aacute;sicos.</p>
                <p>Cualquiera puede hacer la b&uacute;squeda de un producto o servicio desde la web &oacute; la aplicaci&oacute;n m&oacute;vil seleccionando la categor&iacute;a y colocando el nombre del mismo. Al momento se le enviar&aacute; la petici&oacute;n a todos los proveedores registrados en esa categor&iacute;a y se le mostrar&aacute; el mapa al usuario con todos los proveedores que posiblemente tengan el producto, en el mapa se ir&aacute; recibiendo la respuesta cambiando el &iacute;cono del proveedor cuando &eacute;ste responde y mostrando el mensaje recibido.</p>
            </div>
             
            
          
        </div>
        <!-- /.row -->

       

        <!-- Service Panels -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Servicios</h2>
            </div>
            <div class="col-md-12">
                
                <p>AjustadoaTi funciona para servicios en todos los sectores, ponemos algunos ejemplos pero no existe l&iacute;mite ya que ir&aacute; creciendo de acuerdo al registro de proveedores.</p>
               
            </div>
          
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-taxi fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Transporte</h4>
                        <p>Ajustadoati se puede usar para cualquier servicio de transporte por ejemplo el servicio de taxi ya que se puede solicitar un taxi y la petición le llega a todos los taxistas que esten conectados y cerca del cliente porque le llegará su ubicación. También el servicio delivery ya que cualquier proveedor podrá saber dónde se encuentra el que realiza la solicitud del servicio.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-spoon fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Restaurante</h4>
                        <p>Cualquier proveedor de comida conectado podrá recibir las peticiones de las personas que buscan algo en concreto. Por ejemplo: alguien desea una comida espec&iacutefica, hace la petición seleccionando la categoría restaurante, al instante le llega la petición a todos los proveedores de comida, si alguno la tiene le puede contestar y se pondrán de acuerdo.</p>
                      
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Ayuda Personal</h4>
                        <p>En la plataforma se pueden registrar aquellas personas o instituciones para ayudar a los m&aacute;s necesitados ya que cualquiera que requiera ayuda espiritual o psicol&oacute;gica podr&aacute; hacer la solicitud. Esto pensando en esas personas que sienten que nadie las escucha, aqu&iacute; encontrar&aacute;n alguien que los escuchar&aacute; y le dedicar&aacute; el tiempo que necesitan.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Hoteles</h4>
                        <p>Por medio de la plataforma cualquier turista puede hacer la petici&oacute;n de lo que necesita en cuanto a habitaciones o pisos, al momento recibir&aacute; las ofertas y la ubicaci&oacute;n de cada una.</p>
                    </div>
                </div>
            </div>
        </div>

        
        


       
</div>

   

        </div>

        <!-- /.row -->
        <p><b>La plataforma sirve de base para cualquier empresa que desea implementar uso de ubicaci&oacute;n geogr&aacute;fica y mensajer&iacute;a instantanea en sus servicios.</b></p>

        <hr>

       

    </div>




    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <small></small>
            </h1>
            
        </div>


