    <div class="row">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                   
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">C&oacute;mo funciona</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="img/diagrama-3.png" alt="">
            </div>
            <div class="col-md-6">
                
                <p>AjustadoaTi Es una plataforma para búsqueda de productos y servicios en tiempo real usando la ubicación geográfica y mensajería instantánea para la comunicaci&oacute;n entre las partes. La persona o Pyme que presta el servicio debe registrarse y seleccionar las categor&iacute;as en las que desea ofrecer sus servicios, para ello se toma la ubicaci&oacute;n geogr&aacute;fica y los datos b&aacute;sicos.</p>
                <p>Cualquiera puede hacer la b&uacute;squeda de un producto o servicio desde la web &oacute; la aplicaci&oacute;n m&oacute;vil seleccionando la categor&iacute;a y colocando el nombre del mismo. Al momento se le enviar&aacute; la petici&oacute;n a todos los proveedores registrados en esa categor&iacute;a y se le mostrar&aacute; el mapa al usuario con todos los proveedores que posiblemente tengan el producto, en el mapa se ir&aacute; recibiendo la respuesta cambiando el &iacute;cono del proveedor cuando &eacute;ste responde y mostrando el mensaje recibido.</p>
            </div>
             
            
          
        </div>
        <!-- /.row -->

       

        <!-- Service Panels -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        

        
        


       
</div>

   

        </div>

        <!-- /.row -->
        <p><b>La plataforma se podría habilitar en estos momentos de confinamiento por el Covid19. Cualquier persona que desea ayudar a los demás, se registra, descarga la app, realiza el login y espera que le lleguen peticiones. La persona necesitada de alguna ayuda realiza la petición y la misma le llegará a todos los voluntarios por ubicación geográfica.</b></p>

        <hr>

       

    </div>




    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <small></small>
            </h1>
            
        </div>


